/* Add custom styles for Dashboard component */
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f2f5;
    text-align: left;
    margin-left: 20px;
}

.dashboard-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.dashboard-card {
    margin: 10px;
    flex: 1 1 300px;
}

.dashboard-card-content {
    borderradius: 8px;
    color: #fff;
    width: 100%;
    boxshadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-chart-container {
    width: 60%;
    margin-right: 10px;
}

.dashboard-chart {
    background: #fff;
    borderradius: 8px;
    boxshadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-activity-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    borderradius: 8px;
    boxshadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dashboard-activity-title {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.dashboard-divider {
    margin-bottom: 20px;
}

.dashboard-table {
    borderradius: 8px;
    width: 100%;
    overflow-x: auto;
}
